**/.idea

**/node_modules
**/bower_components
**/.tmp
**/.dist
**/.sass-cache

**/.settings
**/.metadata
**/Servers
**/RemoteSystemsTempFiles

**/target/*
*.fdt

*.fdx

*.fnm

*.frq

*.nrm

*.prx

*.tii

*.tis

server/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1

*.gen

*.lock

server/.recommenders/caches/identified-project-coordinates.json

server/.recommenders/caches/manual-mappings.json
